{% extends 'hotel/base.html' %}
{% block content %}

<h1>Rooms Availability</h1>
{% if hotel %}
    <h2>Rooms in {{ hotel.name }}</h2>
{% else %}
    <h2>All Rooms</h2>
{% endif %}

{% if rooms|length == 0 %}
    <p>No rooms available at {{ hotel.name }}.</p>
{% else %}
<ul>
    {% for room in rooms %}
        <li>
            Room: {{ room.room_type }} | 
            Status: {% if room.is_available %}Available{% else %}Booked{% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
