{% block content %}
    <h1>Booked Rooms</h1>
    <ul>
        {% for room in rooms %}
            <li>
                Room: {{ room.room_type }} - {{ room.hotel.name}}
                Check-in: {{ room.check_in }} - 
                Check-out: {{ room.check_out_time }} - 
                Total Charges: {{ room.room.price }} ₹
                {% if booking.status == 'Confirmed' %}
                    <a href="{% url 'check_out_room' booking.room.id %}">Check Out</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'hotel_list' %}">Back to Hotel List</a>
    {% endblock %}
