{% extends 'hotel/base.html' %}
{% block content %}
    <div class="book_container">
        <h1>Booked Rooms</h1>
        <table>
            <thead>
                <tr>
                    <th>Room Type</th>
                    <th>Hotel Name</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Total Charges</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.room.room_type }}</td>
                        <td>{{ room.room.hotel.name }}</td>
                        <td>{{ room.check_in }}</td>
                        <td>{{ room.check_out }}</td>
                        <td>₹ {{ room.room.price }}</td>
                        <td>
                            {% if booking.status %}
                                <a href="{% url 'check_out_room' booking.room.id %}" class="btn">Check Out</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'hotel_list' %}" class="back-btn">Back to Hotel List</a>
    </div>
{% endblock %}
