{% extends 'hotel/base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="header_container">
        <header>
            <h1>Your Favroite Place</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Repudiandae, officia expedita quo nobis aspernatur quia iste,
                maxime perferendis molestiae temporibus ducimus eligendi hic voluptatum qui,
                tempore nulla! Repellat quo animi officiis magni est similique corrupti voluptatem?
                Voluptates accusantium, ipsam quod dolore quos nemo quaerat ullam itaque ea! Cum eius,
                voluptatem, sapiente aperiam a ex aliquid, dolorum expedita deserunt accusantium dignissimos.
                Eveniet aliquam quaerat recusandae mollitia facere earum ducimus ullam, voluptate, expedita,
                ut iste delectus esse magni facilis velit maiores. Quo quod voluptatibus, dignissimos deleniti
                et aperiam laborum voluptas numquam necessitatibus tempora, accusantium nesciunt ad sequi
                distinctio, voluptate doloremque consequatur animi!</p>
        </header>
    </div>
    <div class="card">
        <div class="card_inside">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, amet!</p>
        </div>
        <div class="card_inside">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, cumque.</p>
        </div>
        <div class="card_inside">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, nobis.</p>
        </div>
    </div>
    <div class="card_image_container">
        <div class="card_heading">
            <h1>Your Choice</h1>
        </div>
        <div class="cards">
            <div class="card_image">
                <img src="{% static '/images/img1.jpg' %}" alt="imgs">
                <div class="card_content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quidem totam nulla aspernatur minima possimus consectetur?</p>
                </div>
            </div>
            <div class="card_image">
                <div>
                    <img src="{% static '/images/img1.jpg' %}" alt="imgs">
                </div>
                <div class="card_content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quidem totam nulla aspernatur minima possimus consectetur?</p>
                </div>
            </div>
            <div class="card_image">
                <div>
                    <img src="{% static '/images/img1.jpg' %}" alt="imgs">
                </div>
                <div class="card_content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quidem totam nulla aspernatur minima possimus consectetur?</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_container">
            <div class="footer_about">
                <h3>About Us</h3>
                <p>Welcome to Your Favourite Place, where luxury meets comfort. Enjoy a seamless booking experience and unforgettable stays.</p>
            </div>
            
            <div class="footer_links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Rooms</a></li>
                    <li><a href="">Amenities</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
    
            <div class="footer_services">
                <h3>Our Services</h3>
                <ul>
                    <li><a href="">Room Booking</a></li>
                    <li><a href="">Restaurant</a></li>
                    <li><a href="">Spa & Wellness</a></li>
                    <li><a href="">Event Management</a></li>
                    <li><a href="">Travel Assistance</a></li>
                </ul>
            </div>
    
            <div class="footer_policy">
                <h3>Policies</h3>
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Cancellation Policy</a></li>
                    <li><a href="">Refund Policy</a></li>
                </ul>
            </div>
        </div>
    
        <div class="footer_bottom">
            <p>Copyright © 2025 Your Favourite Place. All rights reserved.</p>
        </div>
    </footer>    
</div>

{% endblock %}