{% extends 'hotel/base.html' %}
{% load static %}
{% block content %}
<div class="hotel-detail">
    <div class="hotel-container">
        <div class="hotel-img">
            <img src="{{ hotel.hotel_image.url }}" alt="{{ hotel.name }}">
        </div>
        <div class="hotel-information">
            <div class="information_hotel">
                <h1>{{ hotel.name }}</h1>
                <p><i class="fa-solid fa-location-dot"></i> {{ hotel.address }}</p>
                <p><i class="fa-solid fa-file-waveform"></i> {{ hotel.description }}</p>
                {% comment %}
                <p><i class="fa-regular fa-star"></i> {{ hotel.rating }}/5</p>
                {% endcomment %}
                <p class="half-star">
                    {% for i in full_star_range %}
                    <span style="color: gold;">&#9733;</span>
                    {% endfor %}
                    {% if has_half_star %}
                    <span style="color: gold;">&#9734;</span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="hotel-rooms">
        <h2>Rooms:</h2>
        {% if rooms|length == 0 %}
        <p>No rooms available at this hotel.</p>
        <a class="add-room" href="{% url 'add_room' hotel.id %}">Add Room</a>
        {% else %}
        <div class="room-info">
            {% for room in rooms %}
            <div class="room-detail">
                <div class="room-img">
                    <img src="{{ room.room_image.url }}" alt="{{ room.name }}">
                    <h2>Type: {{ room.room_type }} - <span>₹{{ room.price }}</span></h2>
                    <p>Status:
                        {% if not room.available %}
                        <span class="not-available">Not Available</span>
                        <a href="{% url 'check_out_room' room.id %}">Check Out Room</a>
                        {% else %}
                        <span class="available">Available</span>
                        <a href="{% url 'room_booking' hotel.id room.id %}">Book Room</a>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}