{% extends './base.html' %}
{% block content %}
<div class="hotel-list">
    {% for hotel in hotels %}
    <div class="hotel">
        {% if hotel.hotel_image %}
            <img src="{{ hotel.hotel_image.url }}" alt="{{ hotel.name }}">
        {% endif %}
        <div class="hotel-info">
            <div class="hotel-name">{{hotel.name}}</div>
            <p class="hotel-description">{{hotel.address}}</p>
            <p class="hotel-description">{{hotel.description}}</p>
            <p class="hotel-description">{{hotel.rating}}/5</p>
            <a href="{% url 'hotel_detail' hotel.id %}" class="book-button">Book Now</a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
